VITE_FIREBASE_API_KEY=AIzaSyCNUPxn5YPR1OnosJMj9J7OXyFOu10XPFU
VITE_FIREBASE_AUTH_DOMAIN=rana-ai-70d7f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rana-ai-70d7f
VITE_FIREBASE_STORAGE_BUCKET=rana-ai-70d7f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1006317283356
VITE_FIREBASE_APP_ID=1:1006317283356:web:3bf40956b1c8ea45d6d7d9
VITE_FIREBASE_MEASUREMENT_ID=G-3N5T64XZZG
VITE_API_URL=https://rana-system-backend.vercel.app